{% extends "::Cabinet/layout.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-10">

            <h4>Messages list of this sender</h4>

            <div class="panel-group panel-group-msg" id="accordion">
                {% for m in messages %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <span class="time text-muted pull-right"><i class="fa fa-paperclip mr5"></i>{{ m.createdAt|date("H:i:s d-m-Y") }}</span>
                                <a data-toggle="collapse" href="#collapseOne">
                                    <img src="{{ asset('assets/cabinet/images/photos/anonym.png') }}" class="img img-online img-circle mr5" alt="" >
                                    <small>{{ m.Sender.username }}</small>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                {{ m.text|raw }}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div>Empty list</div>
                {% endfor %}
            </div><!-- panel-group -->

            <div class="media msg-reply">
                <a class="pull-left" href="#">
                    <img class="img-circle img-online" src="{{ asset('assets/cabinet/images/photos/anonym.png') }}" alt="">
                </a>
                <form action="" method="post" id="message_form">
                    <div class="media-body">
                        {{ form_row(form.text) }}
                        <button class="btn btn-primary btn-sm mt10" id="send_message_button"><i class="fa fa-send mr5"></i> Send</button>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
        <script>
            $(function() {
                $("#send_message_button").click(function(e) {
                    e.preventDefault();
                    for ( instance in CKEDITOR.instances ) {
                        CKEDITOR.instances[instance].updateElement();
                    }
                    $.ajax({
                        data: $('#message_form').parents('form').serialize(),
                        url: "{{ path('_cabinet_messages_item', {'id' : id}) }}",
                        type: 'post'
                    })
                            .success(function() {
                                console.log('sent!')
                            });
                });
            });
        </script>
{% endblock %}