{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="panel panel-signup">
        <div class="panel-body">
            <div class="logo text-center">
                <img src="{{ asset('assets/cabinet/images/logo-primary.png') }}" alt="Chain Logo" >
            </div>
            <br />
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
            {% if app.session is not empty %}
                {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
                {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
            {% endif %}
        </div><!-- panel-body -->
        <div class="panel-footer">
            <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary btn-block">Enter cabinet</a>
        </div><!-- panel-footer -->
    </div><!-- panel -->
{% endblock fos_user_content %}
