{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="panel panel-signin">
        <div class="panel-body">
            <div class="logo text-center">
                <img src="{{ asset('assets/cabinet/images/logo-primary.png') }}" alt="Chain Logo" >
            </div>
            <br />

            <h4 class="text-center mb5">Already a Member?</h4>
            <p class="text-center">Sign in to your account</p>

            <div class="mb30"></div>

            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <div class="input-group mb15">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" placeholder="Email" value="{{ last_username }}" required="required" name="_username">
                </div>

                <div class="input-group mb15">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" placeholder="Password" required="required" name="_password">
                </div>

                <div class="clearfix">
                    <div class="pull-left">
                        <div class="ckbox ckbox-primary mt10">
                            <input type="checkbox" id="rememberMe" value="on" name="_remember_me">
                            <label for="rememberMe">Remember me</label>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success">Submit<i class="fa fa-angle-right ml5"></i></button>
                    </div>
                </div>
            </form>

        </div><!-- panel-body -->
        <div class="panel-footer">
            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary btn-block">Not yet a Member? Create Account Now</a>
        </div><!-- panel-footer -->
    </div><!-- panel -->

{% endblock fos_user_content %}
